* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins, sans-serif;
}

/* NAVBAR */
.navbar {
    height: 110px;
    background: linear-gradient(to right, #1f3c88, #2c4fa3);
    display: flex;
    align-items: center;
    padding: 0 40px;
    color: white;
}

.nav-left img{
    height: 120px;
    margin-bottom: -20px;
}

/* MENU */
.nav-menu {
    display: flex;
    list-style: none;
    margin-left: 90px;
    justify-content: center;
    flex: 1;

}

.nav-menu li {
    margin-right: 90px;
}

.nav-menu a {
    text-decoration: none;
    color: white;
    font-weight: 700;
    padding-bottom: 5px;
    font-size: 25px;
    
}

.nav-menu a:hover {
    border-bottom: 2px solid white;
}

/* BUTTON */
.nav-right .btn {
    padding: 8px 18px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    margin-left: 10px;
}

.login {
    background: white;
    color: #26478F;
    font-weight: 800;
    font-size: 20px;
}

.signup {
    background: #ffffff;
    color: #26478F;
    font-weight: 800;
    font-size: 20px;
}

/* HERO */
.hero {
    position: relative;
    width: 100%;
    height: 400px;
    overflow: hidden;
}

.hero-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* OVERLAY TEXT */
.hero-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,0.35);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 80px;
    color: white;
}

.hero-overlay h1 {
    font-size: 48px;
    letter-spacing: 2px;
}

.hero-overlay p {
    font-size: 18px;
    margin-top: 10px;
}
